.columns h1 {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #222F33;
    margin: 0;
}

.columns p {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #646D70;
    margin: 0;
    margin-top: 4px;
}

.columns__container {
    margin: 0 auto;
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
    justify-content: space-around;
    align-items: center;
}

.columns__image-house {
    display: flex;
    justify-content: left;
    margin-left: 80px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 155px);
    gap: 40px;
    grid-column-gap: 60px;
}

@media (max-width: 768px) {

    @media (max-width: 768px) {
        .columns__container {
            flex-direction: column; 
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(1, 100%);
            gap: 37px;
            grid-column-gap: 60px;
        }
    
        .columns p {
            order: 2;
        }
    
        .columns__container img {
            order: 1;
        }
    }
}