.hero {
    background-image: url(../images/hero-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 200px;
    padding-top: 100px;
}

.hero__title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
}

.hero__paragraph {
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
    line-height: normal;
    color: #fff;
}

.hero__button {
    margin-right: 170px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.button__text {
    font-family: Rubik;
    letter-spacing: 0px;
    line-height: 14px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color:#fff;
}

.text {
    margin-left: 80px;
}

.hero__button:hover,
.button__text:hover {
    transform: scale(1.1);
}

.button__text,
.hero__button {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .hero__paragraph {
        text-align: left;

    }

    .hero__title {
        text-align: left;
    }

    .hero__inner {
        flex-direction: column;
        padding-top: 170px;


    }

    .hero__button {
        align-items: left;
    }
}
