body {
    margin: 0 auto;
    margin-top: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    width: 1000px;
    height: 1905px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

li {
    display: block;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

button {
    border: 0;
}